{% extends "main/padre.html" %}

{% load static %}

{% block funcion %}
    {% if user.is_authenticated %}
        <div class="container">
            <div class="d-flex justify-content-center">
                <form action = "{% url 'crearPeli' %}" method="GET">
                    <div><input type="submit" name="crearPeli" value="Crear pelicula"></div>
                </form>    
            </div>   
        </div>
    {% endif %}
{% endblock %}


{% block funcion2 %}
    <div class="container">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            {% for peli in peliculas %}
            <div class="card mx-3 p-3 col-3 shadow bg-white rounded">
                <img src="{{ peli.imagen.url }}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{peli.nombre}}</h5>
                  <p class="card-text">{{peli.sinopsis}}</p>
                  <p class="card-text">{{peli.año}}</p>
                </div>
                  {% if user.is_authenticated %}
                  <div class="card-footer bg-transparent">
                  <a class="btn btn-warning btn-sm" href="{% url 'modificarPeli' peli.id %}">Modificar</a>
                <a class="btn btn-danger btn-sm" href="{% url 'eliminarPeli' peli.id %}">Eliminar</a>
                    {% endif%}
                    <a class="btn btn-success btn-sm"  href="{% url 'verPeliDetalle' peli.id %}">Ver mas</a>
                </div>
              </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}

