{% extends "main/padre.html" %}

{% load static %}

{% block titulo%}

    <span class="subheading">Aca listo las pelis</span>

{% endblock %}


{% block funcion2 %}
    <div class="container">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            {% for usuario in usuarios %}
                <div class="col-4">
                    <h4>{{usuario.nombre}} </h4>
                    <h3>{{usuario.sinopsis}}</h3>
                    <h3>{{usuario.año}}</h3>
                    {% if user.is_authenticated %}
                    <a class="btn btn-danger" href="{% url 'editarPerfil' usuario.id %}">Modificar</a>
                    {% endif%}
            
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}

